.signup-body {
    height: 1024px;
}

.inputfield {
    height: 100%;
    width: 50%;
}

.inner-signup {
    width: 80%;
    height: 100%;
}

.bgImg {
    width: 50%;
    height: 100%;
    background-image: url(../images/signup.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* .googleBtn {
    padding: 1rem 13.5rem;
} */

@media screen and (max-width:767px) {
    
    .bgImg {
        display: none !important;
    }

    .inputfield {
        width: 100% !important;
    }

    /* .googleBtn {
        padding: 0 10rem !important;
    } */
}